body {
	background-color: $cream;
}

h1 {
	font-family: 'Yellowtail';
	font-size: 6rem;
	color: $text;
}

h2 {
	font-family: 'Georgia';
	font-size: 2.5rem;
	color: $green;
}

h3 {
	font-family: 'Georgia';
	color: $green;
}
h3 + p {
	font-size: 1rem;
}

p {
	font-family: 'Georgia';
	font-size: 1.2rem;
	color: $text;
}