body {
	display: grid;
	background-color: $cream;
	.top {
		grid-template-columns: 1fr 1fr 1fr 3fr 4fr;
		grid-template-rows: 3fr 2fr 1fr;
	}
}

h1 {
	font-family: 'Yellowtail';
	font-size: 5rem;
	color: $text;
}

h2 {
	font-family: 'Georgia';
	font-size: 2.5rem;
	color: $green;
}

h3 {
	font-family: 'Georgia';
	color: $green;
}
h3 + p {
	font-size: 1rem;
}

p {
	font-family: 'Georgia';
	font-size: 1.2rem;
	color: $text;
}