.tips {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 100vh;
	.header {
		grid-column: 6 / span 10;
		grid-row: 1;
	}
	.random {
		grid-column: 2 / span 3;
		grid-row: 2;
		background-image: url(../img/list.jpg);
	}
	.oc {
		grid-column: 6 / span 3;
		grid-row: 2;
		background-image: url(../img/prepare.jpg);
	}
	.continue {
		grid-column: 12 / span 3;
		grid-row: 2;
		background-image: url(../img/quest.jpg);
	}
}